
body{
    background-color: #00235B;
}

h1 {
    color:#F55353;
    font-family: 'Georgia', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    margin-bottom: 0.2em;
}

h5{
    margin-top: .2em;
    color: #F9F5EB; 
    font-family: 'Georgia', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2em;
} 

.Categories{
    color: #FCD900;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5em;
}

.Subheadings{
    margin-top: .2em;
    margin-bottom: 0.5em;
    color: #E8F0F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.Points{
    margin-top: .2em;
    color:#F9F5EB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.SocialMedia{
    color:#F55353;
    padding-right: 18px;
}